body {
    background-image:url(https://media.tenor.com/frOcV2JCvgsAAAAi/hatsune-miku-anime.gif);
    background-repeat:repeat;
    background-color:aquamarine;
    background-position:center top;

}
h1 {
    color: #ff0000;
    }
#id1 {
    color: #FFF000;
}